$foreground-color: #AAAAAA
$background-color: #111111

@font-face
    font-family: 'digitalix'
    src: url('digitalix.ttf')

html, body, #game
    position: relative
    margin: 0
    padding: 0
    background-color: $background-color

#game
    height: 400px
    width: 400px
    margin: auto auto

%control
    position: absolute
    background-color: $foreground-color

.handle
    @extend %control

#player1
    left: 0

#player2
    right: 0

#ball
    @extend %control
    background-color: $foreground-color

#divider
    height: 100%
    width: 0
    margin: auto auto
    border-left: dashed 3px $foreground-color

%score
    position: absolute
    top: 50px
    width: 50%
    font-family: 'digitalix', sans-serif
    font-size: 70px
    color: $foreground-color
    text-align: center

#score1
    @extend %score
    left: 0

#score2
    @extend %score
    right: 0