doctype html
html
    head
        title Pong
        link(rel='stylesheet', href='/main.css')
    body.game
        #game
            #divider
            #score1 0
            #score2 0
            #player1.handle
            #ball
            #player2.handle
        #waiting WAITING FOR PLAYER 2...
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='/game.js')