doctype html
html
    head
        title Pong
        link(rel='stylesheet', href='/main.css')
    body
        #game
            #player1.handle
            #ball
            #player2.handle
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='/game.js')