doctype html
html
    head
        title Pong
        link(rel='stylesheet', href='/main.css')
    body
        #instructions
            h1 Welcome to pong!
            p Send the link below to your friend and then click on it.
            p The game starts when both of you joined the room.
        script(src='/intro.js')