@font-face {
  font-family: "digitalix";
  src: url("digitalix.ttf"); }

html, body, #game {
  height: 400px;
  width: 400px;
  position: relative;
  margin: 0;
  padding: 0; }

#game {
  background-color: #111111; }

.handle, #ball {
  position: absolute;
  background-color: #aaaaaa; }

#player1 {
  left: 0; }

#player2 {
  right: 0; }

#ball {
  background-color: #aaaaaa; }

#divider {
  height: 100%;
  width: 0;
  margin: auto auto;
  border-left: dashed 3px #aaaaaa; }

#score1, #score2 {
  position: absolute;
  top: 50px;
  width: 50%;
  font-family: "digitalix", sans-serif;
  font-size: 70px;
  color: #aaaaaa;
  text-align: center; }

#score1 {
  left: 0; }

#score2 {
  right: 0; }
