@font-face {
  font-family: "digitalix";
  src: url("digitalix.ttf"); }

html, body, #game {
  height: 700px;
  width: 700px;
  position: relative;
  margin: 0;
  padding: 0; }

#game {
  background-color: #111111; }

.handle, #ball {
  position: absolute;
  background-color: #aaaaaa; }

.handle {
  width: 20px;
  height: 100px; }

#player1 {
  left: 0; }

#player2 {
  right: 0; }

#ball {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  background-color: #aaaaaa; }

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -50px;
  font-family: "digitalix", sans-serif;
  color: #aaaaaa; }
